#nicknamehistory {
    text-align: center;
    margin-bottom: 20px;
    color: #130244;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  thead {
    background-color: #1a044d;
    color: rgb(75, 13, 246);
  }
  
  table th,
  table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  /* Pagination Controls */
  .pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  
  .page-button {
    background-color: #1a044d;
    color: #fff;
    border: none;
    margin: 0 5px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .page-button:hover {
    background-color: rgb(75, 13, 246);
  }
  
  .page-button.active {
    background-color: #4b0df6;
    font-weight: bold;
  cursor: default;
  }  
  /* src/components/me/history/nicknames.css */

.history-title {
    text-align: center; /* Center the title */
    margin: 10px 0; /* Add margin for spacing */
    color: #130244; /* Use the same color for consistency */
  }
  