/* src/components/PublicPolicies.css or your CSS file */

.glow {
  color: #00aaff; /* Change text color to light blue */
  text-shadow: 0 0 5px rgba(0, 170, 255, 0.7), 0 0 10px rgba(0, 170, 255, 0.5); /* Glowing effect */
  transition: text-shadow 0.3s ease; /* Smooth transition */
}

/* src/navigator.css */
/* src/navigator.css */

.navigator {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 115px); /* Adjust for header/footer height */
  background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent background */
  width: 100%;
  position: relative;
  overflow-y: auto; /* Ensure scrolling is enabled */
  backdrop-filter: blur(5px); /* Optional: blur effect for glass-like appearance */
}

.navigator::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.navigator::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* Transparent background of the scrollbar track */
}

.navigator::-webkit-scrollbar-thumb {
  background:  rgba(255, 255, 255, 0.1); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
  backdrop-filter: blur(5px); /* Optional: blur effect for glass-like appearance */
}

.navigator::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 170, 255, 1); /* Darker thumb on hover */
}

/* Firefox Scrollbar Styles */
.navigator {
  scrollbar-width: thin; /* Make scrollbar thin */
  scrollbar-color:  rgba(255, 255, 255, 0.1); /* Thumb color and track color */
}

/* For Edge and Internet Explorer */
.navigator {
  -ms-overflow-style: -ms-autohiding-scrollbar; /* Hide scrollbar until needed */
}

/* Section Links Wrapper */
.section-links-wrapper {
  overflow-y: auto; /* Enable vertical scrolling */
  flex-grow: 1; /* Fills available space */
  overflow-x: hidden;
  max-height: calc(100vh - 120px); /* Adjust as needed */
  background-color: rgba(255, 255, 255, 0.1); /* Match the background to the navigator */
}

/* Style for section headers */
.section-title {
  font-weight: bold;
  color: #150e7e; 
  cursor: pointer;
  padding: 10px 0;
}

/* Change color on hover */
.section-title:hover {
  color: #001a33;
}

/* General styles for nav-links */
.navigator .nav-link {
  margin-bottom: px;
  padding: 3px;
}

/* Glow effect for active links */
.navigator .glow {
  color: rgb(19, 6, 85);
}
