html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;

}

.App-header {
  background-color: #282c34;
  height: 10vh;
  /* Fixed height for header */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-content {
  flex: 1;
  /* Expands to fill available space */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  /* Optional padding */
  overflow: auto;
  /* Enables scrolling both vertically and horizontally */

}

.App-footer {
  background-color: #282c34;
  height: 10vh;
  /* Fixed height for footer */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}