/*************************************
GENERAL
*************************************/
body {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 12px;
	padding: 0;
	font: 12px/1.4em "Lucida Grande", Verdana, sans-serif;
	color: #DDD;
	overflow-y: scroll;
	text-rendering: optimizeLegibility;
	background-color: #000000;
}

.header-text {
  font-size: 9pt;  /* Adjust font size as needed */
  color: #888;          /* Light gray color */
  text-align: center;  /* Center align the text */
  margin-top: 1em;      /* Add some margin from top content */
}
.header-error {
  font-size: 10pt;           /* Slightly larger font size for readability */
  color: #ff4c4c;            /* Bright red for contrast */
  text-align: center;        /* Center align the text */
  margin-top: 1em;           /* Add margin from top content */
  text-shadow: 1px 1px 2px #333; /* Optional text shadow for better readability */
}
.header-success {
  font-size: 10pt;           /* Slightly larger font size for readability */
  color: #4cff4c;            /* Bright red for contrast */
  text-align: center;        /* Center align the text */
  margin-top: 1em;           /* Add margin from top content */
  text-shadow: 1px 1px 2px #333; /* Optional text shadow for better readability */
}
.header-logo {
  font-size: 9pt;  /* Adjust font size as needed */
  color: #888;          /* Light gray color */
  text-align: left;  /* Center align the text */
  margin-top: 1em;      /* Add some margin from top content */
}

.footer-text {
  font-size: 0.8rem;  /* Adjust font size as needed */
  color: #888;          /* Light gray color */
  text-align: center;  /* Center align the text */
  margin-top: 1em;      /* Add some margin from top content */
}

.footer-text a {
  color: inherit;  /* Inherit the color from the .footer-text class */
  text-decoration: none;  /* Remove underline from links */
}

.footer-text a:hover {
  text-decoration: underline;  /* Underline links on hover */
}


.mglink a {
  color: #FFF;
  text-decoration: none; /* remove underline */
}

.mglink a:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Slightly darker background */
  color: #eee; /* Adjust text color for contrast */
  text-decoration: underline;  /* Underline links on hover */
  text-decoration-color: #00f; /* Underline color */
}